.container {
  display: flex;

  justify-content: space-around;
}

.biography {
  max-width: 40%;
}

.bio-img {
  width: 30em;
  max-width: 100%;
  height: auto;
}

p {
  font-family: "Poppins", sans-serif;
  text-align: justify;
}

@media screen and (max-width: 700px) {
  .container {
    display: block;
  }
  .biography {
    max-width: 100%;
  }
  .bio-img {
    display: none;
  }
}

// .container {
//     display: flex;
//     width: 95%;
//     margin-top: 10%;
// }

// img {
//     width: 70%;
//     background-color: blue;
// }

// .biography {
//     margin: 10px;
//     width: 60%;

//     h3 {
//         color: #7E76F9;
//     }

//     button {
//         color: #FFF;
//         background-color: #6C63FF;
//         border-radius: 20px;
//         padding: 3% 5%;
//     }

// }
